

.Navbar {
    position:fixed;
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    height: 70px;
    top:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 4vw;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    transition: all 0.2s ease-out;

    color:red;

    list-style: none;


}