.row h2 {
  padding: 6px 32px;
}

.row__title {
  color: #fff;
}

.row__movies {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.row__movies::-webkit-scrollbar {
  display: none;
}

.row:first-of-type {
  margin-top: 20px;
}
