.movie img {
  width: 190px;
  object-fit: contain;
}
.movie {
  margin: 16px;
  margin-left: 32px;
  transition: transform 0.2s ease-out;
}

.movie:hover {
  transform: scale(1.08);
  transition: 3s;
  cursor: pointer;
}
